 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 630px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 21px rgba(0,0,0,0);
  font-size: 4.5rem;
  margin: 207px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 519px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 299px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 188px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  min-height: 643px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 643px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 643px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 91px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 24px auto 0 0;
}

.u-section-2 .u-text-3 {
  line-height: 2;
  margin: 15px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 583px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-image-1 {
    min-height: 530px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 530px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1039px;
  }

  .u-section-2 .u-image-1 {
    min-height: 526px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 980px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-2 .u-image-1 {
    min-height: 395px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 905px;
  }

  .u-section-2 .u-image-1 {
    min-height: 249px;
  }
} .u-section-3 {
  min-height: 643px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 643px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 28px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 91px 239px 0 2px;
}

.u-section-3 .u-text-2 {
  line-height: 2;
  margin: 23px 27px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 643px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 533px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 530px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 151px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 530px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 405px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 738px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 440px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 7px;
  }

  .u-section-3 .u-image-1 {
    min-height: 554px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 522px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 349px;
  }
}